<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.indooratlas.tracker"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.indooratlas.tracker.agent.AgentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="40594d521da18af37aad44c6c2f9e104e68b63f9"
            />

        <activity android:name="com.indooratlas.tracker.agent.ui.AgentSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.indooratlas.tracker.agent.service.AlarmManagerAgentService"/>
    </application>

</manifest>